# Explore dataset

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [7]:
folder = '../raw_data/'

## Games

In [8]:
games_df = pd.read_csv(f"{folder}games.csv")
print(games_df.shape)
print(games_df.isna().sum())
games_df.head()

(136, 9)
gameId               0
season               0
week                 0
gameDate             0
gameTimeEastern      0
homeTeamAbbr         0
visitorTeamAbbr      0
homeFinalScore       0
visitorFinalScore    0
dtype: int64

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
0,2022090800,2022,1,9/8/2022,20:20:00,LA,BUF,10,31
1,2022091100,2022,1,9/11/2022,13:00:00,ATL,NO,26,27
2,2022091101,2022,1,9/11/2022,13:00:00,CAR,CLE,24,26
3,2022091102,2022,1,9/11/2022,13:00:00,CHI,SF,19,10
4,2022091103,2022,1,9/11/2022,13:00:00,CIN,PIT,20,23

In [10]:
print(games_df.season.unique())
print(games_df.week.value_counts())

[2022]
week
1    16
2    16
3    16
4    16
5    16
8    15
6    14
7    14
9    13
Name: count, dtype: int64

## Players

In [11]:
players_df = pd.read_csv(f"{folder}/players.csv")
print(players_df.shape)
print(players_df.isna().sum())
players_df

(1697, 7)
nflId            0
height           0
weight           0
birthDate      487
collegeName      0
position         0
displayName      0
dtype: int64

,nflId,height,weight,birthDate,collegeName,position,displayName
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady
1,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters
2,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers
3,30842,6-6,267,1984-05-19,UCLA,TE,Marcedes Lewis
4,33084,6-4,217,1985-05-17,Boston College,QB,Matt Ryan
...,...,...,...,...,...,...,...
1692,55190,6-1,285,NaN,Maryland,DE,Sam Okuayinonu
1693,55200,6-6,266,NaN,Indiana,DT,Ryder Anderson
1694,55239,6-2,300,NaN,Pennsylvania,DT,Prince Emili
1695,55240,6-1,185,NaN,Buffalo,CB,Ja'Marcus Ingram
1696,55241,6-2,280,NaN,Coastal Carolina,DT,C.J. Brewer

## Plays

In [12]:
plays_df = pd.read_csv(f"{folder}/plays.csv")
print(plays_df.shape)
print(plays_df.isna().sum())
plays_df.head()

(16124, 50)
gameId                                  0
playId                                  0
playDescription                         0
quarter                                 0
down                                    0
yardsToGo                               0
possessionTeam                          0
defensiveTeam                           0
yardlineSide                          224
yardlineNumber                          0
gameClock                               0
preSnapHomeScore                        0
preSnapVisitorScore                     0
playNullifiedByPenalty                  0
absoluteYardlineNumber                  0
preSnapHomeTeamWinProbability           0
preSnapVisitorTeamWinProbability        0
expectedPoints                          0
offenseFormation                      188
receiverAlignment                     188
playClockAtSnap                         1
passResult                           6388
passLength                           7398
targetX                              7748
targetY                              7748
playAction                              0
dropbackType                         5803
dropbackDistance                     5966
passLocationType                     6812
timeToThrow                          7419
timeInTackleBox                      7207
timeToSack                          15516
passTippedAtLine                     6788
unblockedPressure                    6369
qbSpike                              6788
qbKneel                                 0
qbSneak                              9336
rushLocationType                     9336
penaltyYards                        15740
prePenaltyYardsGained                   0
yardsGained                             0
homeTeamWinProbabilityAdded             0
visitorTeamWinProbilityAdded            0
expectedPointsAdded                     0
isDropback                              0
pff_runConceptPrimary                7053
pff_runConceptSecondary             13303
pff_runPassOption                       0
pff_passCoverage                      192
pff_manZone                           192
dtype: int64

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,...,yardsGained,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPointsAdded,isDropback,pff_runConceptPrimary,pff_runConceptSecondary,pff_runPassOption,pff_passCoverage,pff_manZone
0,2022102302,2655,(1:54) (Shotgun) J.Burrow pass short middle to...,3,1,10,CIN,ATL,CIN,21,...,9,0.004634,-0.004634,0.702717,True,NaN,NaN,0,Cover-3,Zone
1,2022091809,3698,(2:13) (Shotgun) J.Burrow pass short right to ...,4,1,10,CIN,DAL,CIN,8,...,4,0.002847,-0.002847,-0.240509,True,NaN,NaN,0,Quarters,Zone
2,2022103004,3146,(2:00) (Shotgun) D.Mills pass short right to D...,4,3,12,HOU,TEN,HOU,20,...,6,0.000205,-0.000205,-0.218480,True,NaN,NaN,0,Quarters,Zone
3,2022110610,348,(9:28) (Shotgun) P.Mahomes pass short left to ...,1,2,10,KC,TEN,TEN,23,...,4,-0.001308,0.001308,-0.427749,True,NaN,NaN,0,Quarters,Zone
4,2022102700,2799,(2:16) (Shotgun) L.Jackson up the middle to TB...,3,2,8,BAL,TB,TB,27,...,-1,0.027141,-0.027141,-0.638912,False,MAN,READ OPTION,0,Cover-1,Man

In [57]:
plays_df = plays_df[['gameId', 
                    'playId', 
                    'quarter',
                    'down', 
                    'possessionTeam', 
                    'defensiveTeam', 
                    'gameClock', 
                    'preSnapHomeScore', 
                    'preSnapVisitorScore']]

print(plays_df.columns.values)
plays_df.head()

['gameId' 'playId' 'quarter' 'down' 'possessionTeam' 'defensiveTeam'
 'gameClock' 'preSnapHomeScore' 'preSnapVisitorScore']

,gameId,playId,quarter,down,possessionTeam,defensiveTeam,gameClock,preSnapHomeScore,preSnapVisitorScore
0,2022102302,2655,3,1,CIN,ATL,01:54,35,17
1,2022091809,3698,4,1,CIN,DAL,02:13,17,17
2,2022103004,3146,4,3,HOU,TEN,02:00,3,17
3,2022110610,348,1,2,KC,TEN,09:28,0,0
4,2022102700,2799,3,2,BAL,TB,02:16,10,10

## Tracking
9 files

In [15]:
tracking_df = pd.read_csv(f"{folder}/tracking_week_1.csv")
print(tracking_df.shape)
print(tracking_df.isna().sum())
tracking_df.head(10)

(7104700, 18)
gameId                 0
playId                 0
nflId             308900
displayName            0
frameId                0
frameType              0
time                   0
jerseyNumber      308900
club                   0
playDirection          0
x                      0
y                      0
s                      0
a                      0
dis                    0
o                 308511
dir               308511
event            6795189
dtype: int64

,gameId,playId,nflId,displayName,frameId,frameType,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
0,2022091200,64,35459.0,Kareem Jackson,1,BEFORE_SNAP,2022-09-13 00:16:03.5,22.0,DEN,right,51.06,28.55,0.72,0.37,0.07,246.17,68.34,huddle_break_offense
1,2022091200,64,35459.0,Kareem Jackson,2,BEFORE_SNAP,2022-09-13 00:16:03.6,22.0,DEN,right,51.13,28.57,0.71,0.36,0.07,245.41,71.21,NaN
2,2022091200,64,35459.0,Kareem Jackson,3,BEFORE_SNAP,2022-09-13 00:16:03.7,22.0,DEN,right,51.20,28.59,0.69,0.23,0.07,244.45,69.90,NaN
3,2022091200,64,35459.0,Kareem Jackson,4,BEFORE_SNAP,2022-09-13 00:16:03.8,22.0,DEN,right,51.26,28.62,0.67,0.22,0.07,244.45,67.98,NaN
4,2022091200,64,35459.0,Kareem Jackson,5,BEFORE_SNAP,2022-09-13 00:16:03.9,22.0,DEN,right,51.32,28.65,0.65,0.34,0.07,245.74,62.83,NaN
5,2022091200,64,35459.0,Kareem Jackson,6,BEFORE_SNAP,2022-09-13 00:16:04,22.0,DEN,right,51.37,28.68,0.62,0.40,0.06,247.01,59.35,NaN
6,2022091200,64,35459.0,Kareem Jackson,7,BEFORE_SNAP,2022-09-13 00:16:04.1,22.0,DEN,right,51.43,28.71,0.61,0.42,0.06,248.57,55.39,NaN
7,2022091200,64,35459.0,Kareem Jackson,8,BEFORE_SNAP,2022-09-13 00:16:04.2,22.0,DEN,right,51.47,28.75,0.61,0.49,0.06,251.03,48.20,NaN
8,2022091200,64,35459.0,Kareem Jackson,9,BEFORE_SNAP,2022-09-13 00:16:04.3,22.0,DEN,right,51.52,28.80,0.62,0.46,0.06,253.26,43.11,NaN
9,2022091200,64,35459.0,Kareem Jackson,10,BEFORE_SNAP,2022-09-13 00:16:04.4,22.0,DEN,right,51.56,28.84,0.61,0.40,0.06,254.75,39.52,NaN

In [16]:
tracking_df['o_sin'] = np.sin(np.deg2rad(tracking_df['o']))
tracking_df['o_cos'] = np.cos(np.deg2rad(tracking_df['o']))
tracking_df['dir_sin'] = np.sin(np.deg2rad(tracking_df['dir']))
tracking_df['dir_cos'] = np.cos(np.deg2rad(tracking_df['dir']))

print(tracking_df.columns.values)
tracking_df.head()

['gameId' 'playId' 'nflId' 'displayName' 'frameId' 'frameType' 'time'
 'jerseyNumber' 'club' 'playDirection' 'x' 'y' 's' 'a' 'dis' 'o' 'dir'
 'event' 'o_sin' 'o_cos' 'dir_sin' 'dir_cos']

,gameId,playId,nflId,displayName,frameId,frameType,time,jerseyNumber,club,playDirection,...,s,a,dis,o,dir,event,o_sin,o_cos,dir_sin,dir_cos
0,2022091200,64,35459.0,Kareem Jackson,1,BEFORE_SNAP,2022-09-13 00:16:03.5,22.0,DEN,right,...,0.72,0.37,0.07,246.17,68.34,huddle_break_offense,-0.914748,-0.404024,0.929390,0.369098
1,2022091200,64,35459.0,Kareem Jackson,2,BEFORE_SNAP,2022-09-13 00:16:03.6,22.0,DEN,right,...,0.71,0.36,0.07,245.41,71.21,NaN,-0.909309,-0.416122,0.946705,0.322100
2,2022091200,64,35459.0,Kareem Jackson,3,BEFORE_SNAP,2022-09-13 00:16:03.7,22.0,DEN,right,...,0.69,0.23,0.07,244.45,69.90,NaN,-0.902209,-0.431299,0.939094,0.343660
3,2022091200,64,35459.0,Kareem Jackson,4,BEFORE_SNAP,2022-09-13 00:16:03.8,22.0,DEN,right,...,0.67,0.22,0.07,244.45,67.98,NaN,-0.902209,-0.431299,0.927053,0.374930
4,2022091200,64,35459.0,Kareem Jackson,5,BEFORE_SNAP,2022-09-13 00:16:03.9,22.0,DEN,right,...,0.65,0.34,0.07,245.74,62.83,NaN,-0.911690,-0.410878,0.889656,0.456632

In [ ]:
tracking_df.drop(columns=['displayName', 'jerseyNumber', 'time', 
                          'frameType', 'playDirection', 'o', 'dir', 'club'], inplace=True)
tracking_df.describe()

,gameId,playId,nflId,frameId,x,y,s,a,dis,o_sin,o_cos,dir_sin,dir_cos
count,7.104700e+06,7.104700e+06,6.795800e+06,7.104700e+06,7.104700e+06,7.104700e+06,7.104700e+06,7.104700e+06,7.104700e+06,6.796189e+06,6.796189e+06,6.796189e+06,6.796189e+06
mean,2.022091e+09,2.024279e+03,4.718625e+04,8.693164e+01,6.087936e+01,2.682726e+01,1.359180e+00,9.440965e-01,1.389657e-01,4.674530e-03,3.924415e-04,4.285768e-04,3.014415e-03
std,7.693544e+01,1.227634e+03,5.050182e+03,5.901554e+01,2.456882e+01,7.696377e+00,1.889584e+00,1.194888e+00,1.945765e-01,8.494558e-01,5.276391e-01,7.036468e-01,7.105435e-01
min,2.022091e+09,5.500000e+01,2.551100e+04,1.000000e+00,-5.060000e+00,-8.940000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00
25%,2.022091e+09,9.550000e+02,4.338400e+04,4.000000e+01,4.110000e+01,2.244000e+01,6.000000e-02,6.000000e-02,1.000000e-02,-9.401098e-01,-3.384095e-01,-6.995386e-01,-7.121486e-01
50%,2.022091e+09,1.995000e+03,4.621400e+04,8.100000e+01,6.114000e+01,2.682000e+01,5.600000e-01,5.300000e-01,6.000000e-02,2.338528e-02,6.123234e-17,3.141587e-03,5.934085e-03
75%,2.022091e+09,3.043000e+03,5.249800e+04,1.260000e+02,8.026000e+01,3.119000e+01,1.960000e+00,1.350000e+00,2.000000e-01,9.418817e-01,3.384095e-01,6.994139e-01,7.171539e-01
max,2.022091e+09,5.120000e+03,5.517300e+04,6.970000e+02,1.256000e+02,6.947000e+01,2.914000e+01,5.658000e+01,7.630000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00